
@{
    ViewBag.Title = "Company Profile";
    ViewBag.ActiveMenu = "Profile";
    ViewBag.MenuOpen = "MyCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/adminlte/plugins/selectpicker/bootstrap-select.min.css" rel="stylesheet" />
<style>
    .image:hover {
        color: #47a0f9;
    }

</style>

<div class="row">

    <div class="col-sm-12 p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-gradient-olive">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")" class="text-white">
                        <i class="fas fa-tachometer-alt"></i> Dasboard
                    </a>
                    <i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="text-white">
                        <i class="nav-icon fas fa-home"></i> Company
                    </a>
                    <i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item active"><i class="far fa-star text-white" aria-hidden="true"></i>Company Profile</li>
            </ol>
        </nav>
    </div>
    
    <div class="col-sm-12">
        <div class="callout callout-info" style="padding-bottom: 0px;">
            <div class="row">
                <div class="col-sm-2">
                    <img src="http://placehold.it/70x100" alt="profile image" class="img-thumbnail rounded company_logo" />
                    <input type="file" id="img_upload" name="img_upload" style="visibility:hidden;" />
                </div>
                <div class="col-sm-10">
                    <hr />
                    <div class="row">
                        <div class="col-sm-4 invoice-col">
                            <div class="row">
                                <strong class="col-sm-6"><i class="fas fa-building"></i> Company:</strong>
                                <span class="COMPANY_NAME col-sm-6 text-muted"></span>
                            </div>
                        </div>
                        <div class="col-sm-7 invoice-col">
                            <div class="row">
                                <strong class="col-sm-3"><i class="fas fa-map-marker-alt"></i> Location:</strong>
                                <span class="Location col-sm-9 text-muted"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <strong class="col-sm-12"><i class="far fa-file-alt"></i> About:</strong>
                        <span class="COMPANY_DESC text-muted col-sm-12"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card card-default EditProf" id="CompanySummary">
            <div class="card-header">
                <h3 class="card-title text-info"><b><i class="fas fa-info" style="color:#117a8b"></i></b> Company Summary</h3>
                <input type="file" id="img_upload" name="img_upload" style="visibility:hidden;" />
                <div class="card-tools">
                    <button type="button" class="btn btn-tool removeLogo" onclick="RemoveLogo()" title="Remove Logo">
                        <i class="fa fa-trash text-danger"></i>
                    </button>
                    <button type="button" class="btn btn-tool image" onclick="$('#img_upload').click();" title="Change Logo">
                        <i class="fas fa-image "></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" onclick="EditCompany(1)" title="Change Company">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body row">
                <div class="table-responsive col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th><strong><i class="fas fa-id-card"></i> Owner</strong></th>
                                <td class="COMPANY_OWNER"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-code"></i> Company Code</strong></th>
                                <td class="COMPANY_CODE"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-building"></i> Company Type</strong></th>
                                <td class="COMPANY_STATE"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-flag"></i> Country</strong></th>
                                <td class="COMPANY_COUNTRY"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-road"></i> State</strong></th>
                                <td class="COMPANY_STATE"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-home"></i> Home</strong></th>
                                <td class="COMPANY_CITY"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th><strong><i class="fas fa-envelope"></i> Post Code</strong></th>
                                <td class="POSTAL_CODE"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-globe"></i> Web Url</strong></th>
                                <td class="WEB_URL"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fab fa-linkedin"></i> Linkedin</strong></th>
                                <td class="COMPANY_LINKED_IN"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-phone"></i> Phone</strong></th>
                                <td class="COMPANY_PHONE"></td>
                            </tr>
                            <tr>
                                <th><strong><i class="fas fa-address-card"></i> Address</strong></th>
                                <td class="COMPANY_ABN"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div id="card edit-profile">
    <div class="card card-info displaynone" id="EditCompany">
        <div class="card-header">
            <h3 class="card-title"><b><i class="fas fa-edit"></i> Edit Company</b> [<span class="COMPANY_NAME">Company Name</span>]</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" onclick="EditOrClosePopUp()">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" onclick="ScaleProfile('#EditCompany')">
                    <i class="fas fa-compress"></i>
                </button>
                <button type="button" class="btn btn-tool" onclick="EditOrClosePopUp()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form id="EditCompany">
                <div class="row">
                    <div class="col-sm-6">
                        <hr>
                        <div class="form-row">
                            <label id="lblCompany" for="COMPANY_NAME" class="col-sm-4 control-label">Company</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="COMPANY_NAME" name="COMPANY_NAME" required data-required-message="Company Name is required" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblBuilderCode" for="COMPANY_CODE" class="col-sm-4 control-label">Company Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="COMPANY_CODE" name="COMPANY_CODE" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblStatus" for="COMPANY_TYPE_ID" class="col-sm-4 control-label">Company Type</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("COMPANY_TYPE_ID", ViewBag.COMPANY_TYPE_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "COMPANY_TYPE_ID", @name = "COMPANY_TYPE_ID", @title = "Company Type", @required = "true" })
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblPhone" for="COMPANY_PHONE" class="col-sm-4 control-label">Phone</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="COMPANY_PHONE" name="COMPANY_PHONE" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblLinkedIN" for="WEB_URL" class="col-sm-4 control-label">Web URL</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="WEB_URL" name="WEB_URL">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" onclick="ShowLink($('#WEB_URL').val())">GO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblLinkedIN" for="COMPANY_LINKED_IN" class="col-sm-4 control-label">LinkedIN</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-linkedin-in"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="COMPANY_LINKED_IN" name="COMPANY_LINKED_IN">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" onclick="ShowLink($('#COMPANY_LINKED_IN').val())">GO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblStrettAdres" for="COMPANY_ADDRESS" class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <textarea class="form-control form-control-sm" rows="3" id="COMPANY_ADDRESS" name="COMPANY_ADDRESS" required data-required-message="Address is required">
                            </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <hr>
                        <div class="form-row">
                            <label id="lblShortName" for="COMPANY_OWNER" class="col-sm-4 control-label">Owner</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="COMPANY_OWNER" name="COMPANY_OWNER" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblShortName" for="COMPANY_ABN" class="col-sm-4 control-label">ABN</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="COMPANY_ABN" name="COMPANY_ABN" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblCountry" for="COMPANY_COUNTRY" class="col-sm-4 control-label">Country</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("COUNTRY_ID", ViewBag.COUNTRIES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "COMPANY_COUNTRY", @name = "COMPANY_COUNTRY", @title = "Select Company", @required = "true" })
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblState" for="COMPANY_STATE" class="col-sm-4 control-label">State</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("STATE_ID", ViewBag.STATES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "COMPANY_STATE", @name = "COMPANY_STATE", @title = "Select State", @required = "true" })
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblCity" for="COMPANY_CITY" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("CITY_ID", ViewBag.CITIES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "COMPANY_CITY", @name = "COMPANY_CITY", @title = "Select City", @required = "true" })
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblPostCode" for=">POSTAL_CODE" class="col-sm-4 control-label">Post Code</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="POSTAL_CODE" name="POSTAL_CODE" disabled required data-required-message="Post Code is required">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <label id="lblStrettAdres" for="COMPANY_DESC" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control form-control-sm" rows="3" id="COMPANY_DESC" name="COMPANY_DESC" required data-required-message="Description is required">
                            </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <input type="hidden" name="COMPANY_ID" id="COMPANY_ID" />
            <button class="btn btn-danger btn-sm" onclick="EditOrClosePopUp()"><i class="far fa-times-circle"></i> Cancel</button>
            <button class="btn btn-success btn-sm float-sm-right" onclick="SaveCompany()"><i class="far fa-save"></i> Save</button>
        </div>
    </div>
</div>

<script id="main">

    var base64String = "";
    $(document).ready(function () {

        var parameters = localStorage.getItem('Parameters');
        var defMask = "(999) 999-9999";

        if (IsUndefinedOrNullOrEmpty(parameters) == false) {
            var objParam = JSON.parse(parameters);
            $.each(objParam.Getlist, function (i, item) {
                if (item.PARAM_NAME == "PHONE_MASK") {
                    defMask = item.PARAM_STR;
                }
                else
                if (item.PARAM_NAME == "NO_PICTURE_IMG") {
                    base64String = btoa(String.fromCharCode.apply(null, new Uint8Array(item.PARAM_IMG)));
                    var src = "data:image/GIF;base64," + base64String + "";
                    $(".company_logo").attr('src', src);
                }
            });
        }
        var mask = '"mask": "' + defMask + '"';
        $('[data-mask]').attr("data-inputmask", mask).inputmask();

        $("#COMPANY_TYPE_ID").attr("data-required-message", "Company type is requried");
        $("#COMPANY_COUNTRY").attr("data-required-message", "Country is requried");
        $("#COMPANY_STATE").attr("data-required-message", "State is requried");
        $("#COMPANY_CITY").attr("data-required-message", "City is requried");

        $('.selectpicker').attr("data-live-search", "true");
        $('.selectpicker').selectpicker();
        $('.bs-caret span').removeClass("caret");

        $('.removeLogo').hide();
        EditCompany(0);
    });

    $("#COMPANY_COUNTRY").change(function ()
    {
        var param = {};
        param.CountryID = this.value;

        //GetSupAdreesCombo(1, param);
        GetStateListByCompany(param, function ()
        {
        });
    });

    $("#COMPANY_STATE").change(function ()
    {
        var param = {};
        param.StateID = this.value;

        GetCityListByState(param, function () {
        });
    });


    function GetStateListByCompany(param,callback)
    {
         $.ajax({
                url: '@Url.Action("GetStateByCompanyID", "Company")',
                data: $.param(param),
                type: 'POST',
                success: function (retdata) {
                    $("#COMPANY_STATE").find('option').remove();
                    $('#COMPANY_STATE').selectpicker('refresh');

                    $("#COMPANY_CITY").find('option').remove();
                    $('#COMPANY_CITY').selectpicker('refresh');
                    if (IsUndefinedOrNullOrEmpty(retdata.StateList) == false && retdata.StateList.length > 0)
                    {
                        var StateList = retdata.StateList;
                        for (var i = 0; i < StateList.length; i++) {
                            var option = $('<option></option>').attr("value", StateList[i].STATE_ID).text(StateList[i].STATE_NAME);
                            $("#COMPANY_STATE").append(option);

                        }

                        $('#COMPANY_STATE').selectpicker('refresh');
                        callback();
                    }
                }
            });
    }

    function GetCityListByState(data, callback)
    {
        var param = {};
        param.StateID = data.StateID;

        $.ajax({
            url: '@Url.Action("GetCityCompanyID", "Company")',
            data: $.param(param),
            type: 'POST',
            success: function (retdata)
            {
                $("#COMPANY_CITY").find('option').remove();
                $('#COMPANY_CITY').selectpicker('refresh');
                if (IsUndefinedOrNullOrEmpty(retdata.CityList) == false && retdata.CityList.length > 0) {
                    var CityList = retdata.CityList;
                    for (var i = 0; i < CityList.length; i++) {
                        var option = $('<option></option>').attr("value", CityList[i].CITY_ID).attr("alt", CityList[i].POSTAL_CODE).text(CityList[i].CITY_NAME);
                        $("#COMPANY_CITY").append(option);
                    }

                    $('#COMPANY_CITY').selectpicker('refresh');
                    callback();
                }
            }
        });
    }

    $("#COMPANY_CITY").change(function ()
    {
        var PostalCode = $(this).find("option:selected").attr("alt");
        $("#POSTAL_CODE").val(PostalCode);
    });

    function EditCompany(Tip)
    {
          $.ajax({
            url: '@Url.Action("GetCompany", "Company")',
            type: 'GET',
            success: function (retdata)
              {

                if (IsUndefinedOrNullOrEmpty(retdata.Getlist) == false )
                {
                    var strlocation = "" + retdata.Getlist.COMPANY_ADDRESS + "," + retdata.Getlist.COMPANY_CITY + "," + retdata.Getlist.POSTAL_CODE + "";
                    $(".Location").html(strlocation);

                    var CompanyDto = retdata.Getlist;
                    var data = {};
                    for (var key in CompanyDto)
                    {
                        if (CompanyDto.hasOwnProperty(key))
                        {
                            var cntrl = $("#" + key + "");
                            var cntrlp = $("." + key + "");
                            if (cntrl.is("input") || cntrl.is("textarea"))
                            {
                                cntrl.val(CompanyDto[key]);
                                cntrlp.html(CompanyDto[key]);
                            }
                            else
                            if (cntrl.is("input:checkbox")) {
                                //cntrl.prop("cheked", CompanyDto[key]);
                                document.getElementById(key).checked = CompanyDto[key];
                            }
                            else
                            if (key == "COMPANY_LOGO")
                            {
                                if (IsUndefinedOrNullOrEmpty(CompanyDto[key]) == false)
                                {
                                    var base64String = btoa(String.fromCharCode.apply(null, new Uint8Array(CompanyDto[key])));
                                    if (IsUndefinedOrNullOrEmpty(base64String) == false) {
                                        var src = "data:image/GIF;base64," + base64String + "";
                                        $(".company_logo").attr('src', src);
                                        $('.removeLogo').show();
                                    }
                                }
                            }
                            else if (cntrl.is("select"))
                            {
                                if (key == "COMPANY_COUNTRY") {
                                    data.CountryID = CompanyDto[key];
                                    cntrl.selectpicker('val', CompanyDto[key]);
                                    cntrlp.html(cntrl.find("option:selected").text());
                                }
                                else if (key == "COMPANY_STATE") {
                                    data.StateID = CompanyDto[key];
                                }
                                else if (key == "COMPANY_CITY")
                                {
                                    data.CityID = CompanyDto[key];

                                    var param = {};
                                    param.CountryID = data.CountryID;
                                    GetStateListByCompany(param, function () {
                                        $('#COMPANY_STATE').selectpicker('val', data.StateID);
                                        $('.COMPANY_STATE').html($('#COMPANY_STATE').find("option:selected").text());

                                        GetCityListByState(data, function () {
                                            $('#COMPANY_CITY').selectpicker('val', data.CityID);
                                            $('.COMPANY_CITY').html($('#COMPANY_CITY').find("option:selected").text());
                                        });
                                    });
                                }
                                else
                                {
                                    cntrl.selectpicker('val', CompanyDto[key]);
                                    cntrlp.html(cntrl.find("option:selected").text());
                                }
                            }
                        }
                    }

                    if (Tip == 1)
                    {
                        $('#EditCompany').slideDown();
                        $('.EditProf').slideUp();                       
                        $('.callout-info').slideUp();
                    }
                }
            }
        });
    }


    function SaveCompany()
    {
        var required = $('input,textarea,select').filter('[required]:visible');

        var allRequired = true;
        var param = {};
        required.each(function () {
            if ($(this).val() == '')
            {
                var message = $(this).attr("data-required-message")
                toastr.warning(message, "Warning");
                allRequired = false;
            }
        });

        if (allRequired == false)
            return;
        //var param = $("form").serialize();
        param.COMPANY_ID = $("#COMPANY_ID").val();
        param.COMPANY_CODE = $("#COMPANY_CODE").val();
        param.COMPANY_NAME = $("#COMPANY_NAME").val();
        param.COMPANY_TYPE_ID = $("#COMPANY_TYPE_ID").val();
        param.COMPANY_COUNTRY = $("#COMPANY_COUNTRY").val();
        param.COMPANY_STATE = $("#COMPANY_STATE").val();
        param.COMPANY_CITY = $("#COMPANY_CITY").val();
        param.COMPANY_ADDRESS = $("#COMPANY_ADDRESS").val();
        param.POSTAL_CODE = $("#POSTAL_CODE").val();
        param.WEB_URL = $("#WEB_URL").val();
        param.COMPANY_PHONE = $("#COMPANY_PHONE").inputmask('unmaskedvalue');
        param.COMPANY_ABN = $("#COMPANY_ABN").val();
        param.COMPANY_OWNER = $("#COMPANY_OWNER").val();//new Date($("#HIRED_DATE").val())
        param.COMPANY_DESC = $("#COMPANY_DESC").val();
        param.COMPANY_LINKED_IN = $("#COMPANY_LINKED_IN").val();

        showHideLoader(true);
        $.ajax({
            url: '@Url.Action("AddOrUpdateCompany", "Company")',
            type: 'POST',
            data: $.param(param),
            success: function (retdata) {

                if (IsUndefinedOrNullOrEmpty(retdata) == false && retdata.success) {
                    EditCompany(0)
                }

                if (IsUndefinedOrNullOrEmpty(retdata.Message) == false) {
                    if (retdata.success) {
                        toastr.success(retdata.Message);
                    }
                    else {
                        toastr.error(retdata.Message);
                    }
                }

                showHideLoader(false);
            }
        });
    }

    function EditOrClosePopUp()
    {
        $('#EditCompany').slideUp();
        $('.EditProf').slideDown();                       
        $('.callout-info').slideDown();

        EditCompany(0);

    }

    function ShowLink(link)
    {
        if (link == "")
        {
            toastr.warning("Link is empty", "Warning");
            return;
        }

        window.open(link, "", "width=300, height=300");
    }

    $('input[type="file"]').change(function(e){

         var file = e.target.files[0];
         if (file != null)
         {
             var request = new FormData();
             request.append("CompanyID", $("#COMPANY_ID").val());
             request.append("Image", file);
             request.append("Remove", 0);

             $.ajax({
                    url: '@Url.Action("UpdateCompanyImg", "Company")',
                    type: 'POST',
                    data: request,
                    processData: false,
                    contentType: false,
                    success: function (data)
                    {
                        if (data.success == true)
                        {
                            var reader = new FileReader();
                            reader.onload = function (e) {

                                $(".company_logo").attr('src', e.target.result);
                            };
                            reader.readAsDataURL(file);

                            $('.removeLogo').show();
                            toastr.success("Logo changed successfully", "Success");
                        }
                        else
                        {
                            var src = IsUndefinedOrNullOrEmpty(base64String) == false ? "data:image/GIF;base64," + base64String + "" : "http://placehold.it/70x100";
                            $(".company_logo").attr('src', src);
                            $('.removeLogo').hide();
                            toastr.error(data.message, "Error was found");
                        }

                        $('#img_upload').val("");
                    }
             });
         }
         else
         {
             toastr.error("No Image found", "Warning");
         }
    });

    function RemoveLogo()
    {
        var request = new FormData();
        request.append("CompanyID", $("#COMPANY_ID").val());
        request.append("Image", null);
        request.append("Remove", 1);
            //fdata.append("anImage", file);
        $.ajax({
            url: '@Url.Action("UpdateCompanyImg", "Company")',
            type: 'POST',
            data: request,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success == true)
                {
                   var src = IsUndefinedOrNullOrEmpty(base64String) == false ? "data:image/GIF;base64," + base64String + "" : "http://placehold.it/70x100";
                   $(".company_logo").attr('src', src);
                   $('.removeLogo').hide();
                   toastr.success("Logo changed successfully", "Success");
                }
                else {
                    toastr.error(data.message, "Error was found");
                }
            }
        });
    }
</script>

