@using JOB_MANAGER.Models;
@{
    ViewBag.Title = "Quotes";
    ViewBag.ActiveMenu = "Quotes";
    ViewBag.MenuOpen = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">   
    <div class="col-sm-12 p-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-gradient-olive">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")" class="text-white">
                        <i class="fas fa-tachometer-alt"></i> Dasboard
                    </a>
                    <i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="text-white">
                        <i class="fas fa-quote-right"></i> Quontes
                    </a>
                    <i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item active"><i class="far fa-star text-white" aria-hidden="true"></i>Quote</li>
            </ol>
        </nav>
    </div>

    <!--Advaced Search And List-->
    <div class="col-sm-12 col-xs-12">
        <div class="card card-default card-primary card-outline collapsed-card" id="AdvacedSearch">
            <div class="card-header">
                <label><i class="fas fa-search text-primary"></i> Show Advaced Search</label>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" title="Reset" OnClick="FormReset0($('#FormSeach'))">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form id="FormSeach">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-row" style="margin-bottom:2px">
                                    <label for="FromInit" class="col-sm-4 control-label">From Init</label>
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="FromInit" name="FromInit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-row" style="margin-bottom:2px">
                                    <label for="EndInit" class="col-sm-4 control-label">End Init</label>
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="EndInit" name="EndInit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <label for="LotNumber" class="col-sm-4 col-xs-4 control-label">Lot.#</label>
                                    <div class="col-sm-8 col-xs-8">
                                        <input type="text" class="form-control" id="LotNumber" name="LotNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-row" style="margin-bottom:2px">
                                    <label for="Material" class="col-sm-4 control-label">Material</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("Material", ViewBag.MATERIAL_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "Material", @name = "Material", @title = "Select Material" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-row" style="margin-bottom:2px">
                                    <label for="Floor" class="col-sm-4 control-label">Floor</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("Floor", ViewBag.FLOOR_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-controls-sm selectpicker", @id = "Floor", @name = "Floor", @title = "Select Floor" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-bottom:2px">
                                <div class="form-row">
                                    <label for="ProjectType" class="col-sm-4 control-label">Project Type</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ProjectType", ViewBag.PROJECT_TYPE_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-controls-sm selectpicker", @id = "ProjectType", @name = "ProjectType", @title = "Select Project Type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm float-sm-right pull-right" Onclick="SearchAdvaced()"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>

        <div class="card card-cyan card-outline" id="ListQuotes">
            <div class="card-header">
                <label><i class="fas fa-quote-right text-cyan"></i> List Of Quotes</label>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-1 active spinner QuoteGrid">

            </div>
        </div>
    </div>

    <!--Edit Quantes-->
    <div class="col-sm-12 col-xs-12">
        <div id="card edit-Quonte">
            <div class="card card-info displaynone" id="EditOrCreateQuonte">
                <div class="card-header">
                    <h3 class="card-title editTitle">Client Details</h3>
                    <div class="card-tools">
                        <div class="form-row">
                            <div class="col-xs-7">
                                <div class="input-group input-group-sm ImportTemp">
                                    <input type="text" readonly class="TempName form-control" placeholder="Chose Template" style="width:100px" />
                                    <span class="input-group-append">
                                        <button class="btn btn-warning btn-sm dialogbt" onclick="OpenTempDialog(2)" data-toggle='modal' data-target='#TemplateDialog'><i class="fas fa-file-import"></i> İmport Template</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <button type="button" class="btn btn-tool" title="Reset" OnClick="FormReset0($('#FormReset'))">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button type="button" class="btn btn-tool" title="Expand" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" title="Maximaze" OnClick="ScaleProfile('#EditOrCreateQuonte')">
                                    <i class="fas fa-compress"></i>
                                </button>
                                <button type="button" class="btn btn-tool" title="Close" OnClick="CloseEditProfile()">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-gray-light spinercontrol">
                    <form id="FormReset">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card card-info card-outline">
                                    <div class="card-header">
                                        <div class="card-title">Quote Details</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblQuante" for="QUOTE_NAME" class="col-sm-4 control-label">Quote</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="QUOTE_NAME" name="QUOTE_NAME" required data-required-message="Quote is Required!" />
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblProject" for="PROJECT_TYPE_ID" class="col-sm-4 control-label">Project Type</label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownList("PROJECT_TYPE_ID", ViewBag.PROJECT_TYPE_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "PROJECT_TYPE_ID", @name = "PROJECT_TYPE_ID", @title = "Select Project Type", @required = "true" })
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblClient" for="CLIENT_ID" class="col-sm-4 control-label">Client</label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownList("CLIENT_ID", ViewBag.CLIENT_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "CLIENT_ID", @name = "CLIENT_ID", @title = "Select Client", @required = "true" })
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblStatus" for="QUOTE_STATUS" class="col-sm-4 control-label">Status</label>
                                                    <div class="col-sm-8">
                                                        @*@Html.DropDownList("STATUS_ID", ViewBag.STATUS_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "QUOTE_STATUS", @name = "QUOTE_STATUS", @title = "Select Status", @required = "true" })*@
                                                        <select class="selectpicker form-control form-control-sm" id="QUOTE_STATUS" required title="Select Status">
                                                            @{
                                                                foreach (var item in (List<StatusDto>)ViewBag.STATUS_LIST)
                                                                {
                                                                    string color = string.Format("Color:{0}", item.DISPLAY_CLASS);
                                                                    <option value="@item.STATUS_ID" data-content="<span><i class='fas fa-circle' style='@color'></i> @item.STATUS_NAME</span>"> @item.STATUS_NAME</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblMaterial" for="MATERIAL_ID" class="col-sm-4 control-label">Material</label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownList("MATERIAL_ID", ViewBag.MATERIAL_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "MATERIAL_ID", @name = "MATERIAL_ID", @title = "Select Material", @required = "true" })
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblMaterial" for="FLOOR_TYPE" class="col-sm-4 control-label">Floor</label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownList("FLOOR_TYPE_ID", ViewBag.FLOOR_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "FLOOR_TYPE", @name = "FLOOR_TYPE", @title = "Select Floor", @required = "true" })
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <input type="checkbox" class="form-check" id="DISPLAY">
                                                    <label class="control-label" for="DISPLAY"> Display</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblStartDate" for="QUOTE_START_DATE" class="col-sm-4 control-label">Inititation</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                            </div>
                                                            <input type="date" class="form-control float-right" id="QUOTE_START_DATE" name="QUOTE_START_DATE" required data-required-message="Inititation is Required!">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblExpiryDate" for="QUOTE_EXPIRY_DATE" class="col-sm-4 control-label">Expiry Date</label>
                                                    <div class="col-sm-8 ">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                            </div>
                                                            <input type="date" class="form-control float-right" id="QUOTE_EXPIRY_DATE" name="QUOTE_EXPIRY_DATE" required data-required-message="Expiry Date is Required!">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblAmount" for="QUOTE_AMOUNT" class="col-sm-4 control-label">Amount</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control float-right" id="QUOTE_AMOUNT" name="QUOTE_AMOUNT" required data-required-message="Amount is Required!">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblCabinets" for="CABINETS_NBR" class="col-sm-4 control-label">Cabinets</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control form-control-sm" id="CABINETS_NBR" name="CABINETS_NBR" required data-required-message="Cabinets is Required!" />
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblContractDesc" for="CONTACT_DESC" class="col-sm-4 control-label">Contact Desc.</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control form-control-sm" rows="3" id="CONTACT_DESC" name="CONTACT_DESC"></textarea>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <label id="lblDesc" for="QUOTE_DESC" class="col-sm-4 control-label">Desc.</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control form-control-sm" rows="3" id="QUOTE_DESC" name="QUOTE_DESC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-info card-outline">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Address Details
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblCountry" for="QUOTE_COUNTRY" class="col-sm-4 control-label">Country</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("COUNTRY_ID", ViewBag.COUNTRIES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "QUOTE_COUNTRY", @name = "QUOTE_COUNTRY", @title = "Select Company", @required = "true" })
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblState" for="QUOTE_STATE" class="col-sm-4 control-label">State</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("STATE_ID", ViewBag.STATES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "QUOTE_STATE", @name = "QUOTE_STATE", @title = "Select State", @required = "true" })
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblCity" for="QUOTE_CITY" class="col-sm-4 control-label">City</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownList("CITY_ID", ViewBag.CITIES_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "QUOTE_CITY", @name = "QUOTE_CITY", @title = "Select City", @required = "true" })
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblPostCode" for=">QUOTE_POSTAL_CODE" class="col-sm-4 control-label">Post Code</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control float-right" id="QUOTE_POSTAL_CODE" name="QUOTE_POSTAL_CODE" Onchange="changeAddress();" disabled required data-required-message="Post Code is required">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblLot" for="ADR_LOT_NBR" class="col-sm-3 control-label">Lot #</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control form-control-sm" id="ADR_LOT_NBR" name="ADR_LOT_NBR" Onchange="changeAddress();" required data-required-message="Lot # is Required!" />
                                            </div>
                                            <label id="lblUnit" for="ADR_UNIT_NBR" class="col-sm-3 control-label">Unit #</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control form-control-sm" id="ADR_UNIT_NBR" name="ADR_UNIT_NBR" Onchange="changeAddress();" required data-required-message="Unit # is Required!" />
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblStLot" for="ADR_STREET_NBR" class="col-sm-3 control-label">Street #</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control form-control-sm" id="ADR_STREET_NBR" name="ADR_STREET_NBR" Onchange="changeAddress();" />
                                            </div>
                                            <label id="lblUnit" for="STREET_SUFFIX_ID" class="col-sm-3 control-label" Onchange="changeAddress();">Suffix</label>
                                            <div class="col-sm-3 col-xs-3">
                                                @Html.DropDownList("STREET_SUFFIX_ID", ViewBag.STREET_LIST as SelectList, null, htmlAttributes: new { @class = "form-control form-control-sm selectpicker", @id = "STREET_SUFFIX_ID", @name = "STREET_SUFFIX_ID", @title = "Select Suffix" })
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblStreet" for="ADR_STREET_NAME" class="col-sm-4 col-xs-4 control-label">Street</label>
                                            <div class="col-sm-8 col-xs-8">
                                                <input type="text" class="form-control form-control-sm" id="ADR_STREET_NAME" name="ADR_STREET_NAME" Onchange="changeAddress();" required data-required-message="Street is Required!" />
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <label id="lblStrettAdres" for="QUOTE_ADDRESS" class="col-sm-4 control-label">Address</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control form-control-sm" rows="3" id="QUOTE_ADDRESS" name="QUOTE_ADDRESS" required data-required-message="Address is required"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <input type="hidden" name="QUOTE_ID" id="QUOTE_ID" />
                    <button class="btn btn-danger btn-sm" onclick="CloseEditProfile()"><i class="far fa-times-circle"></i> Cancel</button>
                    <button class="btn btn-success btn-sm float-sm-right" onclick="SaveQuonte(false)"><i class="far fa-save"></i> Save</button>
                    <button class="btn btn-info btn-sm dialogbt" onclick="OpenTempDialog(1)" data-toggle='modal' data-target='#TemplateDialog'><i class="fas fa-save"></i> Save As Template</button>
                </div>
            </div>
        </div>
    </div>

    <!--View Quantes-->
    <div class="col-sm-12 LoadView">

    </div>

    <!-- CopyContact.modal -->
    <div id="TemplateDialog" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white"><i class="fas fa-copy"></i> <span class="titleMd">Select Template</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-xs-12 ImportTemplate">
                        <select class="form-control selectpicker" title="Select Template" id="TEMPID" data-style="btn-outline-info">
                        </select>
                    </div>
                    <div class="col-sm-12 col-xs-12 SaveTemplate">
                        <div class="form-group form-group-sm bottom">
                            <label id="lblQuante" for="TEMPNAME" class="col-sm-4 col-xs-4 control-label">Template Name</label>
                            <div class="col-sm-8 col-xs-8">
                                <input type="text" class="form-control" id="TEMPNAME" name="TEMPNAME" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal" onclick="DialogOperation()">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="main">

    var QuanteTable = null;
    var ViewQuonteDto = null;

    $(document).ready(function ()
    {
        $("#QUOTE_COUNTRY").attr("data-required-message", "Country is requried");
        $("#QUOTE_STATE").attr("data-required-message", "State is requried");
        $("#QUOTE_CITY").attr("data-required-message", "City is requried");
        $("#QUOTE_STATUS").attr("data-required-message", "Status is requried");
        $("#PROJECT_TYPE_ID").attr("data-required-message", "Project Type is requried");
        $("#CLIENT_ID").attr("data-required-message", "Client Type is requried");
        $("#MATERIAL_ID").attr("data-required-message", "Material Type is requried");
        $("#FLOOR_TYPE").attr("data-required-message", "Floor Type is requried");
        $('#STREET_SUFFIX_ID').attr("data-required-message", "Suffix is requried");


        $('.selectpicker').attr("data-live-search", "true");
        $('.selectpicker').selectpicker();

        CreateHtmlJsGrid("Quote", function (retHtml) {

            $(".QuoteGrid").html(retHtml);
            InitGrids(null);
        });
    });

    function CloseEditProfile()
    {
        $('#ListQuotes').slideDown();
        $("#AdvacedSearch").slideDown();
        $("#EditOrCreateQuonte").slideUp();        
    }

    function SearchAdvaced()
    {
        var str = {};
        str.FromInit = $("#FromInit").val();
        str.EndInit = $("#EndInit").val();
        str.LotNumber = $("#LotNumber").val();
        str.Material = $("#Material").val() == "" ? -1 : $("#Material").val();
        str.Floor = $("#Floor").val() == "" ? -1 : $("#Floor").val();
        str.ProjectType = $("#ProjectType").val() == "" ? -1 : $("#ProjectType").val();
        InitGrids(str);
    }

    function FormReset0(element)
    {
        if (element.attr("id") == "FormReset") {
            var now = new Date();
            var today = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();
            $('#QUOTE_START_DATE').val(today);
        }

        FormReset(element);
    }

    function InitGrids(AdvacedSearch)
    {

        $.ajax({
                url: '@Url.Action("GetListFilters", "Quote")',
                type: 'GET',
                success: function (retdata) {

                    if (IsUndefinedOrNullOrEmpty(retdata) == true)
                    {
                        retdata = {};
                        retdata.City = [];
                        retdata.Client = [];
                        retdata.Project = [];
                        retdata.Status = [];
                    }

                    if (IsUndefinedOrNullOrEmpty(retdata) == false)
                    {
                        retdata.City.push({ CITY_NAME: "", CITY_ID: 0 });
                        retdata.Client.push({ CLIENT_NAME: "", CLIENT_ID: 0 });
                        retdata.Project.push({ PROJECT_TYPE_NAME: "", PROJECT_TYPE_ID: 0 });
                        retdata.Status.push({ STATUS_NAME: "", STATUS_ID: 0 });

                        var Url = "";
                        var param = {};
                        if (IsUndefinedOrNullOrEmpty(AdvacedSearch) == false) {
                            param = AdvacedSearch;
                            Url='@Url.Action("GetQuonteAdvacedList", "Quote")';
                        }
                        else
                        {
                            param.QuanteID = -1;
                            Url='@Url.Action("GetQuoteList", "Quote")';
                        }


                        var Options = {};
                        Options.Name = $("#TableQuote");
                        Options.Url = Url;
                        Options.Data = [];
                        Options.LoadParam = param;
                        Options.Fields = [
                            { name: "QUOTE_NUMBER", title: "Quante.#", type: "text", width: 80 },
                            {
                                name: "QUOTE_NAME", title: "Quante", type: "text", width: 100,
                                itemTemplate: function (_, item) {

                                    item.DISPLAY_CLASS = IsUndefinedOrNullOrEmpty(item.DISPLAY_CLASS) ? "" : item.DISPLAY_CLASS;
                                    var textColor = lightOrDark(item.DISPLAY_CLASS);
                                    return $("<span>").text(item.CLIENT_NAME + " ").append($("<div class='badge' style='background-color:" + item.DISPLAY_CLASS + ";color:" + textColor + "'>")
                                        .html(item.STATUS_NAME));
                                }
                            },
                            { name: "CLIENT_ID", title: "Client", type: "select", items: retdata.Client, valueField: "CLIENT_ID", textField: "CLIENT_NAME", width: 80 },
                            { name: "QUOTE_CITY", title: "City", type: "select", items: retdata.City, valueField: "CITY_ID", textField: "CITY_NAME", width: 80 },
                            { name: "PROJECT_TYPE_ID", title: "Job Type", type: "select", items: retdata.Project, valueField: "PROJECT_TYPE_ID", textField: "PROJECT_TYPE_NAME", width: 80 },
                            {
                                type: "control",
                                modeSwitchButton: false,
                                editButton: false,
                                width: 60,
                                align: "center",
                                itemTemplate: function (_, item)
                                {
                                    var controlCustimoze = "<button type='button' class='btn btn-xs btn-outline-info' title='Edit'   style='margin-left: 5px;'  onclick = 'EditQuote(" + JSON.stringify(item) + ",false)'><i class='fas fa-edit'></i></button>";
                                    controlCustimoze += "<button type='button' class='btn btn-xs btn-outline-success' title='View'   style='margin-left: 5px;'  onclick = 'ViewQuote(" + JSON.stringify(item) + ")'><i class='fas fa-eye'></i></button> ";
                                    controlCustimoze += "<button type='button' class='btn btn-xs btn-outline-danger'  title='Delete' style='margin-left: 5px;'  onclick = 'DeleteQuote(" + item.QUOTE_ID +")'><i class='fas fa-trash-alt'></i></button> ";

                                    return $("<td class='btn-toolbox'>").html(controlCustimoze);
                                }
                            }
                        ]

                        CreateJsGrid(Options, function (retGrid) {
                            QuanteTable = retGrid.Grid;
                            QuanteTable.jsGrid("option", "editing", false);
                        });
                    }
            },
            error: function (xhr, status, error) {
                toastr.error(xhr.responseText, "Error!");
            }
        });
    }

    function AddGrid(obj)
    {     
        EditProfile('#EditOrCreateQuonte', '#ListQuotes');
        $("#EditOrCreateQuonte .editTitle").html("<i class='fas fa-plus-circle'></i> Create New Quote");
        $("#AdvacedSearch").slideUp();
        FormReset0($('#FormReset'));

        $('.TempName').html("");
        $('.ImportTemp').show();     
    }

    function RefreshGrid(obj)
    {     
      InitGrids(null);     
    }

    function SearchGrid(obj) {
        
        $(obj.children).toggleClass('active');
        QuanteTable.jsGrid("option", "filtering", $(obj.children).hasClass('active'));
    };

    function ChangeGrid(obj)
    {
        var size = parseInt(obj.value, 10);
        QuanteTable.jsGrid("option", "pageSize", size);
    };

    function EditQuote(Dto,IsSablon)
    {
        if (!IsSablon)
        {
            $('#EditOrCreateQuonte').slideDown();
            $("#AdvacedSearch").slideUp();
            $("#ListQuotes").slideUp();
            var Name = "<i class='fas fa-edit'></i> Edit Quonte <b>(" + Dto.QUOTE_NUMBER + ")</b>";
            $("#EditOrCreateQuonte .editTitle").html(Name);

            $('.ImportTemp').hide();
            $('.TempName').val("");            
        }

        var data = {};
        for (var key in Dto) {
            if (Dto.hasOwnProperty(key)) {

                var cntrl = $("#" + key + "");
                if (cntrl.is("input:text") || key == "CABINETS_NBR" || cntrl.is("textarea") || cntrl.is("input:hidden")
                    || key == "CONTACT_EMAIL" || key == "QUOTE_START_DATE" || key == "QUOTE_EXPIRY_DATE")
                {
                    cntrl.val(Dto[key]);
                }
                else
                if (cntrl.is("input:checkbox")) {
                    document.getElementById(key).checked = Dto[key];
                }
                else
                if (cntrl.is("select")) {
                    if (key == "QUOTE_COUNTRY") {
                        data.CountryID = IsUndefinedOrNullOrEmpty(Dto[key]) ? 0 : Dto[key];
                        cntrl.selectpicker('val', Dto[key]);
                        }
                    else if (key == "QUOTE_STATE") {
                        data.StateID = data.CountryID = IsUndefinedOrNullOrEmpty(Dto[key]) ? 0 : Dto[key];
                        }
                    else if (key == "QUOTE_CITY")
                    {
                        data.CityID = data.CountryID = IsUndefinedOrNullOrEmpty(Dto[key]) ? 0 : Dto[key];

                            var param = {};
                            param.CountryID = data.CountryID;
                            GetStateListByCompany(param, function () {
                                $('#QUOTE_STATE').selectpicker('val', data.StateID);
                                GetCityListByState(data, function () {
                                    $('#QUOTE_CITY').selectpicker('val', data.CityID);
                                });
                            });
                    }
                    else
                        cntrl.selectpicker('val', Dto[key]);
                }
            }
        }

    }

    $("#QUOTE_COUNTRY").change(function ()
    {
        var param = {};
        param.CountryID = this.value;

        //GetSupAdreesCombo(1, param);
        GetStateListByCompany(param, function ()
        {
        });
    });

    $("#QUOTE_STATE").change(function ()
    {
        var param = {};
        param.StateID = this.value;

        GetCityListByState(param, function () {
        });
    });

    $("#STREET_SUFFIX_ID").change(function ()
    {
        var text = $("#STREET_SUFFIX_ID option:selected").text() + " " + $("#QUOTE_STATE").text();
        $("#QUOTE_ADDRESS").val(text);
    });

    $("#QUOTE_CITY").change(function () {
        var PostalCode = $(this).find("option:selected").attr("alt");
        $("#QUOTE_POSTAL_CODE").val(PostalCode);
    });

    function GetStateListByCompany(param,callback)
    {
         $.ajax({
                url: '@Url.Action("GetStateByCompanyID", "Company")',
                data: $.param(param),
                type: 'POST',
                success: function (retdata) {
                    $("#QUOTE_STATE").find('option').remove();
                    $('#QUOTE_STATE').selectpicker('refresh');

                    $("#QUOTE_CITY").find('option').remove();
                    $('#QUOTE_CITY').selectpicker('refresh');
                    if (IsUndefinedOrNullOrEmpty(retdata.StateList) == false && retdata.StateList.length > 0)
                    {
                        var StateList = retdata.StateList;
                        for (var i = 0; i < StateList.length; i++) {
                            var option = $('<option></option>').attr("value", StateList[i].STATE_ID).text(StateList[i].STATE_NAME);
                            $("#QUOTE_STATE").append(option);

                        }

                        $('#QUOTE_STATE').selectpicker('refresh');
                        changeAddress();
                        callback();
                    }
             },
             error: function (xhr, status, error) {
                 toastr.error(xhr.responseText, "Error!");
             }
            });
    }

    function GetCityListByState(data, callback)
    {
        var param = {};
        param.StateID = data.StateID;

        $.ajax({
            url: '@Url.Action("GetCityCompanyID", "Company")',
            data: $.param(param),
            type: 'POST',
            success: function (retdata)
            {
                $("#QUOTE_CITY").find('option').remove();
                $('#QUOTE_CITY').selectpicker('refresh');
                if (IsUndefinedOrNullOrEmpty(retdata.CityList) == false && retdata.CityList.length > 0) {
                    var CityList = retdata.CityList;
                    for (var i = 0; i < CityList.length; i++) {
                        var option = $('<option></option>').attr("value", CityList[i].CITY_ID).attr("alt", CityList[i].POSTAL_CODE).text(CityList[i].CITY_NAME);
                        $("#QUOTE_CITY").append(option);
                    }

                    $('#QUOTE_CITY').selectpicker('refresh');
                    changeAddress();
                    callback();
                }
            }
        });
    }

    function changeAddress() {
        var lot = $("#ADR_LOT_NBR").val();
        var unit = $("#ADR_UNIT_NBR").val();
        var streetN = $("#ADR_STREET_NBR").val();
        var street = $("#ADR_STREET_NAME").val();
        var suffix = $("#STREET_SUFFIX_ID option:selected").text();
        var postCode = $("#QUOTE_POSTAL_CODE").val();
        var state = $("#QUOTE_STATE option:selected").text();
        var city = $("#QUOTE_CITY option:selected").text();
        var addressStr = "";
        if (lot != null && lot != "")
            addressStr += "Lot: " + lot + ", ";
        if (unit != null && unit != "")
            addressStr += unit + " ";
        if (streetN != null && streetN != "")
            addressStr += streetN + " ";
        if (street != null && street != "")
            addressStr += street + " ";
        if (suffix != null && suffix != "" && $("#STREET_SUFFIX_ID").val() != 0)
            addressStr += suffix + " ";
        if (city != null && city != "" && $("#QUOTE_STATE").val() != 0)
            addressStr += city + " ";
        if (state != null && state != "" && $("#QUOTE_CITY").val() != 0)
            addressStr += state + " ";
        if (postCode != null && postCode != "")
            addressStr += postCode + " ";

        $("#QUOTE_ADDRESS").val(addressStr);
    }

    function SaveQuonte(IsTemplate)
    {
        var required = $('input,textarea,select').filter('[required]:visible');

        var allRequired = true;
        var param = {};
        required.each(function () {
            if ($(this).val() == '') {
                var message = $(this).attr("data-required-message")
                toastr.warning(message, "error");
                allRequired = false;
            }
        });


        if (allRequired == false)
            return;

        param.QUOTE_ID = $("#QUOTE_ID").val();
        param.CLIENT_ID = $("#CLIENT_ID").val();
        param.PROJECT_TYPE_ID = $("#PROJECT_TYPE_ID").val();
        param.QUOTE_NAME = $("#QUOTE_NAME").val();
        param.QUOTE_NUMBER = $("#QUOTE_NAME").val();
        param.QUOTE_STATUS = $("#QUOTE_STATUS").val();
        param.ADR_LOT_NBR = $("#ADR_LOT_NBR").val();
        param.ADR_UNIT_NBR = $("#ADR_UNIT_NBR").val();
        param.ADR_STREET_NBR = $("#ADR_STREET_NBR").val();
        param.ADR_STREET_NAME = $("#ADR_STREET_NAME").val();
        param.QUOTE_ADDRESS = $("#QUOTE_ADDRESS").val();
        param.QUOTE_CITY = $("#QUOTE_CITY").val();
        param.QUOTE_STATE = $("#QUOTE_STATE").val();
        param.QUOTE_COUNTRY = $("#QUOTE_COUNTRY").val();
        param.QUOTE_POSTAL_CODE = $("#QUOTE_POSTAL_CODE").val();
        param.QUOTE_AMOUNT = $("#QUOTE_AMOUNT").val();
        param.CABINETS_NBR = $("#CABINETS_NBR").val();
        param.QUOTE_DESC = $("#QUOTE_DESC").val();
        param.QUOTE_START_DATE = $("#QUOTE_START_DATE").val();
        param.QUOTE_EXPIRY_DATE = $("#QUOTE_EXPIRY_DATE").val();
        param.FLOOR_TYPE = $("#FLOOR_TYPE").val();
        param.MATERIAL_ID = $("#MATERIAL_ID").val();
        param.STREET_SUFFIX_ID = $("#STREET_SUFFIX_ID").val();
        param.CONTACT_DESC = $("#CONTACT_DESC").val();
        if (IsTemplate)
        {
            param.USE_AS_TEMPLATE = true;
            param.TEMPLATE_NAME = $("#TEMPNAME").val();
            param.QUOTE_ID = 0;
        }
        else
        {
            param.USE_AS_TEMPLATE = false;
            param.TEMPLATE_NAME = "";
            param.QUOTE_ID = $("#QUOTE_ID").val();
        }
        param.DISPLAY = $("#DISPLAY").prop('checked');

        CreateLoader($('.spinercontrol'), true);
        $.ajax({
            url: '@Url.Action("AddOrUpdateQuonte", "Quote")',
            type: 'POST',
            data: $.param(param),
            success: function (retdata) {

                if (IsUndefinedOrNullOrEmpty(retdata.Message) == false) {
                    if (retdata.success) {
                        toastr.success(retdata.Message);
                        InitGrids(null);

                        if (IsTemplate)
                        {
                            $('.close').click();
                        }

                        $("#QUOTE_ID").val(retdata.ID);

                        EditOrViewQuote(false);
                    }
                    else {
                        toastr.error(retdata.Message);
                    }
                }

                CreateLoader($('.spinercontrol'), false);
            },
            error: function (xhr, status, error) {
                toastr.error(xhr.responseText, "Error!");
                CreateLoader($('.spinercontrol'), false);
            }
        });
    }

    function DeleteQuote(QuanteID)
    {
         if (confirm("Are You Sure?") == true)
         {
           CreateLoader($('.spinercontrol'), true);

           var param = {};
           param.QuanteID = QuanteID;

            $.ajax({
                url: '@Url.Action("DeleteQuote", "Quote")',
                type: 'POST',
                data: $.param(param),
                success: function (retdata) {

                    if (IsUndefinedOrNullOrEmpty(retdata.Message) == false)
                    {
                        if (retdata.success) {
                            toastr.success(retdata.Message);
                            ContactTable.jsGrid("loadData");
                        }
                        else {
                            toastr.error(retdata.Message);
                        }
                    }
                    CreateLoader($('.spinercontrol'), false);
                },
                error: function (xhr, status, error) {
                    toastr.error(xhr.responseText, "Error!");
                    CreateLoader($('.spinercontrol'), false);
                }
            });
        }
    }

    function OpenTempDialog(Type)
    {
        if (Type == 1) {
            $('.ImportTemplate').hide();
            $('.SaveTemplate').show();
            $("#TEMPNAME").val("");

            $(".titleMd").text("Select Template");
            var TempName = $('.TempName').val().trim();
            if (IsUndefinedOrNullOrEmpty(TempName) == false && TempName != "")
            {
                $("#TEMPNAME").val(TempName);
                SaveQuonte(true);

                $('.dialogbt').removeAttr("data-target");
            }
            else
            {
                $('.dialogbt').attr("data-target","#TemplateDialog");
            }
        }
        else
        {
            $('.dialogbt').attr("data-target", "#TemplateDialog");
            $('.ImportTemplate').show();
            $('.SaveTemplate').hide();

            $(".titleMd").text("Import Template");
            ImportDialog();
        }
    }

    function ImportDialog()
    {
        $.ajax({
            url: '@Url.Action("GetAllTemplate", "Quote")',
            type: 'GET',
            success: function (retdata)
            {
                var Template = retdata.Template;

                $("#TEMPID").find('option').remove();
                for (var i = 0; i < Template.length; i++) {
                    var option = $('<option></option>').attr("value", Template[i].TEMPLATE_ID).text(Template[i].TEMPLATE_NAME);
                    $("#TEMPID").append(option);

                }

                $('#TEMPID').selectpicker('refresh');
                $('.TempName').val("");
            },
            error: function (xhr, status, error) {
                toastr.error(xhr.responseText, "Error!");
            }
        });
    }

    function DialogOperation()
    {
        if ($('.SaveTemplate').is(":visible"))
        {
                SaveQuonte(true);
        }
        else
        {
            FromTemplate();
        }
    }

    function FromTemplate()
    {
        var TempID = $('#TEMPID').val();
        var param = {};
        param.QuanteID = TempID;

        $('.TempName').val($('#TEMPID').text().trim());

        $.ajax({
            url: '@Url.Action("GetQuoteList", "Quote")',
            type: 'GET',
            data: param,
            success: function (retdata)
            {
                retdata.Template.QUOTE_ID = 0;
                retdata.Template.USE_AS_TEMPLATE = false;
                EditQuote(retdata.Template, true);
                //TemplateDiaglog.dialog("close");
            }
        });
    }

    function EditOrViewQuote(EditFlg)
    {
        if (EditFlg)
        {
            $("#ListQuotes").slideUp();
            $("#AdvacedSearch").slideUp();
            $("#EditOrCreateQuonte").slideDown();
            $(".LoadView").slideUp();

            $('.ImportTemp').hide();
            EditQuote(ViewQuonteDto, false);

            ViewQuonteDto = null;
        }
        else
        {      
            var url = "@Url.Action("QuoteView", "Quote")" + "/?id=" + Dto.QUOTE_ID +"&Layout=0";
           $.get(url, function (data) {
               $(".LoadView").html(data);
               $(".LoadView").slideDown();
           });
        }
    }

    function ViewQuote(Dto)
    {
        $("#EditOrCreateQuonte").slideUp();
        $("#AdvacedSearch").slideUp();
        $("#ListQuotes").slideUp();
        
        ViewQuonteDto = Dto;

        var url = "@Url.Action("QuoteView", "Quote")" + "/?id=" + Dto.QUOTE_ID +"&Layout=0";
        $.get(url, function (data)
        {
            $(".LoadView").html(data);
            debugger;
            $(".LoadView").slideDown();
        });
    }

    function RemoveViewQuonte()
    {
        $("#ListQuotes").slideDown();
        $("#AdvacedSearch").slideDown();
        $("#EditOrCreateQuonte").addClass('displaynone');
        $("#ViewQuonte").addClass('displaynone');
    }

</script>